@{
    Produto produto = ViewBag.Produto;
}
<form asp-action="Alterar" method="post">
    <input type="hidden" value="@produto.ProdutoId" name="hdnId" />

    <div class="form-group" id="Nome">
        <label>Id:</label>
        <input type="text" class="form-control" name="txtId" value="@produto.ProdutoId" readonly="" />
    </div>
    <div class="form-group" id="Nome">
        <label>Nome:</label>
        <input type="text" class="form-control" name="txtNome" value="@produto.Nome" />
    </div>
    <div class="form-group" id="Nome">
        <label>Descrição:</label>
        <input type="text" class="form-control" name="txtDescricao" value="@produto.Descricao" />
    </div>
    <div class="form-group" id="Nome">
        <label>Preço:</label>
        <input type="text" class="form-control" name="txtPreco" value="@produto.Preco" />
    </div>
    <div class="form-group" id="Nome">
        <label>Quantidade:</label>
        <input type="text" class="form-control" name="txtQuantidade" value="@produto.Quantidade" />
    </div>
    <input type="submit" class="btn btn-primary" value="Salvar" />
</form>